@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cinephiles' Choice:</h1>
    <h5>a place where movie lovers can vote on which nominees should have taken home the Oscar.</h5>
    <a class="p-2 btn btn-info" asp-controller="Cinephiles" asp-action="NavigateToAwards">Navigate to an Award</a>
</div>
