@model CinephilesChoice.Models.MoviegoerViewModel

@{
    ViewData["Title"] = "EditMoviegoer";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Edit Moviegoer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMoviegoer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Moviegoer.Id" />
            <div class="form-group">
                <label asp-for="Moviegoer.FirstName" class="control-label"></label>
                <input asp-for="Moviegoer.FirstName" class="form-control" />
                <span asp-validation-for="Moviegoer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moviegoer.LastName" class="control-label"></label>
                <input asp-for="Moviegoer.LastName" class="form-control" />
                <span asp-validation-for="Moviegoer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moviegoer.Email" class="control-label"></label>
                <input asp-for="Moviegoer.Email" class="form-control" />
                <span asp-validation-for="Moviegoer.Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Moviegoer.IdentityUserId" class="control-label"></label>
                <select asp-for="Moviegoer.IdentityUserId" asp-items='new SelectList(Model.RoleManager, "Key", "Value")'></select>
                <span asp-validation-for="Moviegoer.IdentityUserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

