@model CinephilesChoice.Models.Moviegoer

@{
    ViewData["Title"] = "CreateMoviegoer";
    Layout = "~/Views/Shared/_Layout_Cinephile.cshtml";
}

<h1>CreateMoviegoer</h1>

<h4>Moviegoer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMoviegoer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdentityUserId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerToSecurityQuestion" class="control-label"></label>
                <input asp-for="AnswerToSecurityQuestion" class="form-control" />
                <span asp-validation-for="AnswerToSecurityQuestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

