@model IEnumerable<CinephilesChoice.Models.Nomination>

@{
    ViewData["Title"] = @Model.First().Year + " - " + @Model.First().AwardCategory;
    Layout = "~/Views/Shared/_Layout_Cinephile.cshtml";
}

    <h1>@Model.First().Year - @Model.First().AwardCategory</h1>


