@model CinephilesChoice.Models.Moviegoer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Cinephile.cshtml";
}

<h1>Index</h1>

<div id="cinephile-home-page">
    <ul>
        <li><a asp-action="NavigateToAwards">Navigate to an Award</a></li>
        <li><a asp-action="Details">My Profile</a></li>
    </ul>
</div>
