@model List<List<IGrouping<string, CinephilesChoice.Models.Nomination>>>

@{
    ViewData["Title"] = "Navigate To Awards";
    Layout = "~/Views/Shared/_Layout_Cinephile.cshtml";
}

<h1>NavigateToAwards</h1>

<div>
    @for(int i = 0; i < Model.Count; i++)
    {
        <button id='year-@i' onclick="displayAwardCategories('awards-@i')">@Model[i][0].First().Year</button>
        <ul id='awards-@i' style="display:none;">
            @for(int j = 0; j < Model[i].ToList().Count; j++)
            {
                <a asp-action="DisplayNominations" asp-route-year="@Model[i][j].First().Year" asp-route-category="@Model[i][j].First().AwardCategory">@Model[i][j].Key</a>
            }
        </ul>
    }
</div>
