/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #dddddd;
}
a:hover{
    color: #aaaaaa;
    text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: white;
  background-image: url(/media/background-felix-mooneeram.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.movie-poster-container {
    padding: 0;
    width: unset;
    height: unset;
    position: relative;
    display: flex;
    align-items: stretch;
    border: 5px solid rgba(0,0,0,0);
}
.movie-poster {
    object-position: center;
    object-fit: fill;
    width: 100%;
    height: auto;
    border: 8px solid #777777;
    z-index: 5;
    position: relative;
    border-radius: 25px;
}
.movie-poster-overlay {
    height: 100%;
    width: 100%;
    z-index: 1000;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, .5);
    display: none;
    position: relative;
    top: 0;
    border-radius: 25px;
}
.movie-poster-container:hover .movie-poster-overlay{
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
}
.movie-poster-overlay div{
    margin: 12px 12px 12px 12px;
}
.movie-poster.oscar-winner {
    border: 8px solid green;
}
#chart-wrapper {
    background-color: rgba(0, 0, 0, .5);
    border: 3px groove white;
    padding: 18px 18px 18px 18px;
    border: 8px solid #444444;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
}
.row {
    justify-content: center;
}
.row.left-row {
    justify-content: left;
}
#cinephile-home-page ul {
    padding: 0;
    list-style-type: none;
    font-size: 1.5em;
}